@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
.whole-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    color: #000000;
}
.main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-gap: 30px;
    width: 80%;
    border: 1px solid green;

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

}
.single{
    background-color: #ffffff;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

.single img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 10px;
}
.remove{
    font-family: 'Poppins', sans-serif;
}
.remove h5{
    font-size: 14px;
}